<div class="update-container">
  <!-- Habit -->
  <% if (typeof foundHabit !== 'undefined') { %>
  <div class="universal">
    <a href="/dashboard"
      ><i style="color: #1b1c17" class="small material-icons">close</i></a
    >
    <h2>Update your Habit</h2>
    <form action="/dashboard/habits/<%= foundHabit._id %>/edit" method="post">
      <label for="name" class="form-label">Habit</label>
      <input type="text" id="name" name="name" value="<%= foundHabit.name %>" />
      <button type="submit" class="btn btn-primary">Update Habit</button>
    </form>
  </div>

  <!-- Daily -->

  <% } else if (typeof foundDaily !== 'undefined') { %>
  <div class="universal">
    <a href="/dashboard"
      ><i style="color: #1b1c17" class="small material-icons">close</i></a
    >
    <h2>Update your Daily</h2>
    <form action="/dashboard/daily/<%= foundDaily._id %>/edit" method="post">
      <label for="name" class="form-label">Daily</label>
      <input type="text" id="name" name="name" value="<%= foundDaily.name %>" />
      <button type="submit" class="btn btn-primary">Update Daily</button>
    </form>
  </div>

  <!-- To Do List -->

  <% } else if (typeof foundTodo !== 'undefined') { %>
  <div class="universal">
    <a href="/dashboard"
      ><i style="color: #1b1c17" class="small material-icons">close</i></a
    >
    <h2>Update your To Do List</h2>
    <form action="/dashboard/todo/<%= foundTodo._id %>/edit" method="post">
      <label for="name" class="form-label">To Do</label>
      <input type="text" id="name" name="name" value="<%= foundTodo.name %>" />
      <button type="submit" class="btn btn-primary">Update Todo</button>
    </form>
  </div>
  <% } %>
</div>
