<%- include('../partials/userNav') %>
<main>
  <div id="main-container">
    <div id="add-habit">
      <form action="/userProfile" method="POST">
        <label>
          <input type="text" name="name" placeholder="Add a habit" />
        </label>
      </form>
      <% habitList.forEach(habit => { %>
      <div class="habit-cards">
        <form action="/userProfile/<%= habit._id %>/delete" method="POST">
          <button type="submit" class="hovering">
            <img src="/images/967564a359c9dced95fb88c0ccb7cb02.png" alt="delete-icon" style="width: 12px; height: 15px" />
          </button>
        </form>
        <p><%= habit.name %></p>
        <form action="/userProfile/<%= habit._id %>/edit" method="get">
          <button type="submit" class="hovering">
            <img src="/images/icons8-edit-24.png" alt="edit-icon" style="width: 12px; height: 15px" />
          </button>
        </form>
      </div>
      <% }) %>
    </div>
    <div id="add-daily">
      <form action="/userProfile/add-daily" method="POST">
        <label>
          <input type="text" name="name" placeholder="Add a Daily" />
        </label>
      </form>
      <% dailyHabits.forEach(daily => { %>
      <div class="daily-cards">
        <form action="/userProfile/<%= daily._id %>/delete" method="POST">
          <button type="submit" class="hovering">
            <img src="/images/967564a359c9dced95fb88c0ccb7cb02.png" alt="delete-icon" style="width: 12px; height: 15px" />
          </button>
        </form>
        <p><%= daily.name %></p>
        <form action="/userProfile/<%= daily._id%>/edit" method="get">
          <button type="submit" class="hovering">
            <img src="/images/icons8-edit-24.png" alt="edit-icon" style="width: 12px; height: 15px" />
          </button>
        </form>
      </div>
      <% }) %>
    </div>
    <div id="add-todo">
      <form action="/userProfile/add-todo" method="POST">
        <label>
          <input type="text" name="name" placeholder="Add a To Do" />
        </label>
      </form>
      <% todoItems.forEach(item => { %>
      <div class="todo-cards">
        <form action="/userProfile/<%= item._id %>/delete" method="POST">
          <button type="submit" class="hovering">
            <img src="/images/967564a359c9dced95fb88c0ccb7cb02.png" alt="delete-icon" style="width: 12px; height: 15px" />
          </button>
        </form>
        <p><%= item.name %></p>
        <form action="/userProfile/<%= item._id%>/edit" method="get">
          <button type="submit" class="hovering">
            <img src="/images/icons8-edit-24.png" alt="edit-icon" style="width: 12px; height: 15px" />
          </button>
        </form>
      </div>
      <% }) %>
    </div>
  </div>
</main>