<%- include('../partials/userNav') %>
<main>
  <div class="main-container">
    <!-- Add Habit Modal -->
    <div class="habit-section">
      <div id="add-habit-modal" class="modal">
        <div class="modal-content">
          <h4>Add Habit</h4>
          <form action="/userProfile/habits/create" method="POST">
            <label>
              <input type="text" name="name" placeholder="Add a habit" />
            </label>
            <button type="submit" class="modal-close waves-effect waves-light btn">
              Add
            </button>
            <a href="#!" class="modal-close waves-effect waves-light btn">Cancel</a>
          </form>
        </div>
      </div>
      <h3 class="card-title">Habits</h3>
      <div class="cards-content">
        <form action="/logout" method="POST">
          <button type="submit">L</button>
        </form>
        <img src="images/habit-img.png" alt="Rollerskating" />
        <div>
          <h4>No habits</h4>
          <p>
            Here you will find your habits. To add one, click on ‘add a habit’
          </p>
        </div>
      </div>
      <button data-target="add-habit-modal" class="btn modal-trigger">
        + Add Habit
      </button>

      <!-- Habit List -->
      <% habitList.forEach(habit => { %>
      <form action="/userProfile/habits/<%= habit._id %>/delete" method="POST">
        <button type="submit">
          <img src="/images/967564a359c9dced95fb88c0ccb7cb02.png" alt="delete-icon" style="width: 12px; height: 15px" />
        </button>
      </form>
      <p><%= habit.name %></p>
      <form action="/userProfile/habits/<%= habit._id %>/edit" method="GET">
        <button type="submit">
          <img src="/images/icons8-edit-24.png" alt="edit-icon" style="width: 12px; height: 15px" />
        </button>
      </form>
      <% }) %>
    </div>

    <!--Daily Modal -->
    <div class="daily-section">
      <div id="add-daily-modal" class="modal">
        <div class="modal-content">
          <h4>Add Daily</h4>
          <form action="/userProfile/daily/create" method="POST">
            <label>
              <input type="text" name="name" placeholder="Add a Daily" />
            </label>
            <button type="submit" class="modal-close waves-effect waves-light btn">
              Add
            </button>
            <a href="#!" class="modal-close waves-effect waves-light btn">Cancel</a>
          </form>
        </div>
      </div>
      <h3 class="card-title">Daily Task</h3>
      <div class="cards-content">
        <img src="images/daily-img.png" alt="Taking rubbish out" />
        <h4>No Tasks</h4>
        <p>
          Here you will find your daily tasks. To add one, click on ‘add a task’
        </p>
      </div>
      <button data-target="add-daily-modal" class="btn modal-trigger">
        + Add Daily
      </button>

      <!-- Daily Habits List -->
      <% dailyHabits.forEach(daily => { %>
      <form action="/userProfile/daily/<%= daily._id %>/delete" method="POST">
        <button type="submit">
          <img src="/images/967564a359c9dced95fb88c0ccb7cb02.png" alt="delete-icon" style="width: 12px; height: 15px" />
        </button>
      </form>
      <p><%= daily.name %></p>
      <form action="/userProfile/daily/<%= daily._id %>/edit" method="GET">
        <button type="submit">
          <img src="/images/icons8-edit-24.png" alt="edit-icon" style="width: 12px; height: 15px" />
        </button>
      </form>
      <% }) %>
    </div>

    <!-- To Do Modal -->
    <div class="todo-section">
      <div id="add-todo-modal" class="modal">
        <div class="modal-content">
          <h4>Add To Do</h4>
          <form action="/userProfile/todo/create" method="POST">
            <label>
              <input type="text" name="name" placeholder="Add a To Do" />
            </label>
            <button type="submit" class="modal-close waves-effect waves-light btn">
              Add
            </button>
            <a href="#!" class="modal-close waves-effect waves-light btn">Cancel</a>
          </form>
        </div>
      </div>
      <h3 class="card-title">To Do</h3>
      <div class="cards-content">
        <img src="images/todo-img.png" alt="Person with a todo list" />
        <h4>No to do's</h4>
        <p>
          Here you will find your to do list. To add one, click on ‘add a task’
        </p>
      </div>
      <button data-target="add-todo-modal" class="btn modal-trigger">
        + Add To Do
      </button>

      <!-- To Do Items List -->
      <% todoItems.forEach(item => { %>
      <form action="/userProfile/todo/<%= item._id %>/delete" method="POST">
        <button type="submit">
          <img src="/images/967564a359c9dced95fb88c0ccb7cb02.png" alt="delete-icon" style="width: 12px; height: 15px" />
        </button>
      </form>
      <p><%= item.name %></p>
      <form action="/userProfile/todo/<%= item._id %>/edit" method="GET">
        <button type="submit">
          <img src="/images/icons8-edit-24.png" alt="edit-icon" style="width: 12px; height: 15px" />
        </button>
      </form>
      <% }) %>
    </div>
  </div>
</main>