<main>
  <div class="main-container">
    <!-- Add Habit Modal -->
    <div class="habit-section">
      <div id="add-habit-modal" class="modal">
        <div class="modal-content">
          <h4>Add a Habit</h4>
          <form action="/userProfile/habits/create" method="POST">
            <label>
              <input type="text" name="name" placeholder="Add a habit" />
            </label>
            <a href="#!" class="modal-close btn-flat"
              ><span class="modal-btn no-capitalization">Cancel</span></a
            >
            <button type="submit" class="modal-close btn-flat">
              <span class="modal-btn no-capitalization">Add Habit</span>
            </button>
          </form>
        </div>
      </div>
      <div class="card-title">
        <h3>Habits</h3>
      </div>
      <!-- <form action="/logout" method="POST">
          <button type="submit">L</button>
        </form> -->
      <% if (habitList.length === 0) { %>
      <div class="cards-content">
        <img src="images/habit-img.png" alt="Rollerskating" />
        <h4>No habits</h4>
        <p>
          Here you will find your habits. To add one, click on ‘add a habit’
        </p>
      </div>
      <% } else { %>

      <!-- Dropdown Trigger -->

      <!-- Habit List -->
      <div class="habit-content">
        <% habitList.forEach(habit => { %>

        <div class="habit-item">
          <p><%= habit.name %></p>
          <a class="dropdown-trigger" href="#" data-target="dropdown1"
            ><i class="material-icons" style="color: #000">arrow_right</i></a
          >

          <!-- Dropdown Structure -->
          <ul id="dropdown1" class="dropdown-content">
            <li>
              <form
                action="/userProfile/habits/<%= habit._id %>/delete"
                method="POST"
              >
                <button type="submit">
                  <i class="material-icons" style="#000">delete</i>
                </button>
              </form>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li>
              <form
                action="/userProfile/habits/<%= habit._id %>/edit"
                method="GET"
              >
                <button type="submit">
                  <i class="material-icons" color="#000">edit</i>
                </button>
              </form>
            </li>
          </ul>
        </div>

        <% }) %>
      </div>
      <% } %>

      <div class="card-btn">
        <button
          data-target="add-habit-modal"
          class="waves-effect waves-light btn modal-trigger indigo lighten-3"
        >
          + Add Habit
        </button>
      </div>
    </div>

    <!--Daily Modal -->
    <div class="daily-section">
      <div id="add-daily-modal" class="modal">
        <div class="modal-content">
          <h4>Add Daily</h4>
          <form action="/userProfile/daily/create" method="POST">
            <label>
              <input type="text" name="name" placeholder="Add a Daily" />
            </label>
            <a href="#!" class="modal-close waves-effect waves-light btn"
              >Cancel</a
            >
            <button
              type="submit"
              class="modal-close waves-effect waves-light btn"
            >
              Add
            </button>
          </form>
        </div>
      </div>
      <div class="card-title">
        <h3>Daily Task</h3>
      </div>

      <% if (dailyHabits.length === 0) { %>
      <div class="cards-content">
        <img src="images/daily-img.png" alt="Taking rubbish out" />
        <h4>No Tasks</h4>
        <p>
          Here you will find your daily tasks. To add one, click on ‘add a task’
        </p>
      </div>
      <% } else { %>
      <!-- Daily Habits List -->
      <div class="daily-content">
        <% dailyHabits.forEach(daily => { %>
        <div class="daily-item">
          <div class="daily-name">
            <form
              action="/userProfile/daily/<%= daily._id %>/edit"
              method="GET"
            >
              <button type="submit">
                <i class="material-icons tiny">edit</i>
              </button>
            </form>
            <p><%= daily.name %></p>
          </div>
          <form
            id="deleteForm"
            action="/userProfile/daily/<%= daily._id %>/delete"
            method="POST"
          >
            <label>
              <input type="checkbox" id="deleteCheckbox" class="filled-in" />
              <span></span>
            </label>
          </form>
        </div>
        <% }) %>
      </div>
      <% } %>

      <div class="card-btn">
        <button
          data-target="add-daily-modal"
          class="waves-effect waves-light btn modal-trigger indigo lighten-3"
        >
          + Add Daily
        </button>
      </div>
    </div>

    <!-- To Do Modal -->
    <div class="todo-section">
      <div id="add-todo-modal" class="modal">
        <div class="modal-content">
          <h4>Add To Do</h4>
          <form action="/userProfile/todo/create" method="POST">
            <label>
              <input type="text" name="name" placeholder="Add a To Do" />
            </label>
            <a href="#!" class="modal-close btn-flat">Cancel</a>
            <button type="submit" class="modal-close btn-flat">Add</button>
          </form>
        </div>
      </div>
      <div class="card-title">
        <h3>To Do</h3>
      </div>
      <% if (todoItems.length ===0) { %>
      <div class="cards-content">
        <img src="images/todo-img.png" alt="Person with a todo list" />
        <h4>No to do's</h4>
        <p>
          Here you will find your to do list. To add one, click on ‘add a task’
        </p>
      </div>
      <% } else { %>
      <!-- To Do Items List -->
      <div class="todo-content">
        <% todoItems.forEach(item => { %>
        <div class="todo-item">
          <form action="/userProfile/todo/<%= item._id %>/delete" method="POST">
            <button type="submit">
              <img
                src="/images/967564a359c9dced95fb88c0ccb7cb02.png"
                alt="delete-icon"
                style="width: 12px; height: 15px"
              />
            </button>
          </form>
          <p><%= item.name %></p>
          <form action="/userProfile/todo/<%= item._id %>/edit" method="GET">
            <button type="submit">
              <img
                src="/images/icons8-edit-24.png"
                alt="edit-icon"
                style="width: 12px; height: 15px"
              />
            </button>
          </form>
        </div>
        <% }) %>
      </div>

      <% } %>

      <div class="card-btn">
        <button
          data-target="add-todo-modal"
          class="waves-effect waves-light btn modal-trigger indigo lighten-3"
        >
          + Add To Do
        </button>
      </div>
    </div>
  </div>
</main>
